In [34]:
import pandas as pd

In [35]:
df=pd.read_csv('pydata-book/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [36]:
pd.read_table('pydata-book/examples/ex1.csv',sep=',')   #read_tableでcsvを読み込む場合は区切り文字を','に指定

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [37]:
pd.read_csv('pydata-book/examples/ex2.csv',header=None) #ファイルにヘッダ行がない場合

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [38]:
pd.read_csv('pydata-book/examples/ex2.csv',names=['a','b','c','d','message']) #自分で列名を指定できる

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [39]:
!cat pydata-book/examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [40]:
#複数の列で構成される階層型インデックスを作りたい場合
parsed=pd.read_csv('pydata-book/examples/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [41]:
!cat pydata-book/examples/ex3.txt   #区切り文字がスペースになっている

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [42]:
result=pd.read_table('pydata-book/examples/ex3.txt',sep='\s+')  #区切り文字に正規表現が使える（\s+は一つ以上の空白文字に一致）
result  #ヘッダ行の列数がデータ行の列数よりも少ない場合は自動的にデータ行の１列目をインデックス行として解釈してくれる

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [43]:
!cat pydata-book/examples/ex4.csv   #余計な行が含まれている

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [44]:
pd.read_csv('pydata-book/examples/ex4.csv',skiprows=[0,2,3])    #skiprowsで読み飛ばしたい行を指定

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [45]:
!cat pydata-book/examples/ex5.csv   #欠損値が含まれている

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [46]:
result=pd.read_csv('pydata-book/examples/ex5.csv')
result  #NAや空白文字がNaNとして読み込まれている

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [47]:
pd.isnull(result)   #欠損値かどうか確認

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [48]:
result=pd.read_csv('pydata-book/examples/ex5.csv',na_values=['one'])   #欠損値としてみなす文字列のリストかセットを指定できる
result

  something  a   b     c   d message
0       NaN  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [49]:
sentinels={'message':['foo','NA'],'something':['two']}  #欠損値の標識が列ごとに違う場合は、それぞれに指定できる
result=pd.read_csv('pydata-book/examples/ex5.csv',na_values=sentinels)
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 6.1.1 テキストファイルを少しずつ読み込む

In [50]:
pd.options.display.max_rows=10  #表示を１０行までにする

In [52]:
result=pd.read_csv('pydata-book/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [53]:
pd.read_csv('pydata-book/examples/ex6.csv',nrows=5) #５行だけ読み込む

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [54]:
chunker=pd.read_csv('pydata-book/examples/ex6.csv',chunksize=1000)  #少しずつファイルを読み込みたい場合は、一度に読み込む行数を指定できる
chunker

In [55]:
#TextFileReaderオブジェクトを使うと、chunksizeで定められた行数ずつファイル内からブロックを読み込んで処理を繰り返せる
tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)

tot=tot.sort_values(ascending=False)

In [56]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### 6.1.2 テキスト形式でのデータの書き出し

In [61]:
data=pd.read_csv('pydata-book/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [63]:
data.to_csv('outputs/out.csv')  #データをコンマ区切りのファイルとして書き出す

In [64]:
!cat outputs/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [66]:
import sys
data.to_csv(sys.stdout,sep='|')   #区切り文字を'|'に設定. sys.stdoutはテキストの出力をコンソールに表示

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [67]:
data.to_csv(sys.stdout,na_rep='NULL')   #欠損値を'NULL'として表示

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [68]:
data.to_csv(sys.stdout,index=False,header=False)    #行と列両方のラベル表示を無効化

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [69]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])    #一部の列だけを指定した順序で書き出す

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [70]:
dates=pd.date_range('1/1/2000',periods=7)   #連続した日付のリスト
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [74]:
ts=pd.Series(np.arange(7),index=dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

In [77]:
ts.to_csv('outputs/tseries.csv',header=False)   #シリーズもto_csvで書き出せる

In [78]:
!cat outputs/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### 6.1.3 区切り文字で区切られた形式を操作する

In [79]:
!cat pydata-book/examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [90]:
pd.read_csv('pydata-book/examples/ex7.csv')

   a  b  c
0  1  2  3
1  1  2  3

In [110]:
import csv  #区切り文字が一文字のどんなファイルに対しても、csvモジュールが使える
f=open('pydata-book/examples/ex7.csv')
reader=csv.reader(f)

for line in reader: #引用符がすべて取り除かれて、各行のタプルが返される
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [113]:
f.close()

In [83]:
with open('pydata-book/examples/ex7.csv') as f:
    lines=list(csv.reader(f))   #ファイルを各行のリストとして読み込む

header,values=lines[0],lines[1:]    #ヘッダ行とデータ行に分割する

In [84]:
header

['a', 'b', 'c']

In [85]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [89]:
data_dict={h: v for h,v in zip(header,zip(*values))}    #ヘッダ行をキーとしたデータ列のディクショナリを作成. zip(*values)で行と列が入れ替わる
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [111]:
class my_dialect(csv.Dialect):  #新しくcsvのサブクラスを定義することもできる
    lineterminator='\n'
    delimiter=';'
    quotechar='"'
    quoting=csv.QUOTE_MINIMAL

In [ ]:
reader=csv.reader(f,dialect=my_dialect) #自分で定義したサブクラスを使う場合

In [ ]:
reader=csv.reader(f,delimiter='|')  #csv.readerにキーワードとして渡しても同じことができる

In [ ]:
#区切り文字で区切られたファイルとして手動で書き出すにはcsv.writerが使える
with open('mydata.csv','w') as f:
    writer=csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

### 6.1.4 JSONデータ

In [116]:
obj="""
{"name":"Wes",
"places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":30,"pet":["Zeus","Zuko"]},
            {"name":"Katie","age":38,
            "pet":["Sixes","Stache","Cisco"]}]
}
"""

In [117]:
import json

result=json.loads(obj)  #jsonの文字列をpythonに変換する
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pet': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pet': ['Sixes', 'Stache', 'Cisco']}]}

In [118]:
asjson=json.dumps(result)   #pythonオブジェクトをjsonに変換する

In [119]:
siblings=pd.DataFrame(result['siblings'],columns=['name','age'])    #ディクショナリをデータフレームのコンストラクタに渡して、一部のデータフィールドを選択する
siblings

    name  age
0  Scott   30
1  Katie   38

In [120]:
!cat pydata-book/examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [121]:
data=pd.read_json('pydata-book/examples/example.json')  #read_jsonを使うと特定の形のデータが連なったJSONデータセットをシリーズやデータフレームに自動的に変換できる
data    #デフォルトではJSON配列内の各オブジェクトがテーブルの行になると仮定される

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [122]:
print(data.to_json())   #pandasからJSON形式でデータをエクスポートする場合にto_jsonが使える

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [123]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### 6.1.5 XMLとHTML：ウェブスクレイピング
* HTML/XML形式のデータ読み書き用のライブラリとして代表的なものにlxmlやBeautifulSoup、html5libなどがある  
* lxmlが遥かに高速だが、規格に従っていないHTMLファイルやXMLファイルを取り扱うにはBeautifulSoupやhtml5libのほうが便利

In [124]:
# read_htmlはlxmlやBeautifulSoupなどのライブラリを用いて自動的にHTMLファイルをパースし、
# ファイル内に含まれているテーブルをデータフレームオブジェクトとして取り出してくれる
# デフォルトでは<table>タグで囲まれたテーブル形式のデータをすべて探し出し、パースしようとする
tables=pd.read_html('pydata-book/examples/fdic_failed_bank_list.html')  #戻り値はデータフレームオブジェクトのリスト
len(tables)

1

In [125]:
failures=tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [127]:
close_time_stamps=pd.to_datetime(failures['Closing Date'])
close_time_stamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

#### 6.1.5.1 lxml.objectifyを使ったXMLの読み込み

In [128]:
from lxml import objectify

path='pydata-book/datasets/mta_perf/Performance_MNR.xml'
parsed=objectify.parse(open(path))  #lxml.objectifyを使ってXMLを読み込む
root=parsed.getroot()   #getrootでファイルのルートノードへの参照を取得

In [129]:
data=[]
skip_fields=['PARENT_SEQ','INDICATOR_SEQ','DESIRED_CHANGE','DECIMAL_PLACES']

for elt in root.INDICATOR:  #各<INDICATOR>XML要素を生成するジェネレータが返される
    el_data={}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag]=child.pyval
    data.append(el_data)

In [130]:
perf=pd.DataFrame(data) #ディクショナリのリストをデータフレームに変換
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

In [131]:
from io import StringIO

tag='<a href="http://www.google.com">Google</a>'
root=objectify.parse(StringIO(tag)).getroot()
root

In [132]:
root.get('href')    #タグ内のどんなフィールド（hrefなど）にもアクセスできる

'http://www.google.com'

In [133]:
root.text   #リンクテキストにもアクセスできる

'Google'

## 6.2 バイナリデータ形式
シリアライズ：バイナリ形式で効率よくデータを書き出すこと

In [134]:
frame=pd.read_csv('pydata-book/examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [135]:
frame.to_pickle('outputs/frame_pickle')

In [136]:
pd.read_pickle('outputs/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

* pickleが推奨されるのは短期間の保存形式としてのみ
* データ形式が長期間安定しているという保証をしにくい、という問題がある

pandasやNumpyのデータに使えるその他の保存形式
* bcolz : Blosc圧縮ライブラリをベースとした、圧縮可能な列指向のバイナリ形式  
http://bcolz.blosc.org
* Feather : 言語横断的な列指向のファイル形式  
http://github.com/wesm/feather

### HDF5形式の使用
* HDF5では巨大な配列のごく一部を効率よく読み書きできるので、メモリに収まらない巨大なデータセットに使うと便利
* pandasのHDFStoreクラスはディクショナリのように扱えるインターフェースで、低レベルな詳細部分は内部的に処理してくれる

In [137]:
frame=pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore('mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [138]:
store['obj1']

           a
0  -1.741574
1  -1.620421
2  -0.217090
3  -0.942871
4  -0.430518
..       ...
95 -0.785437
96  1.479574
97  1.967906
98 -1.322880
99  0.682199

[100 rows x 1 columns]

In [139]:
# HDFStoreでは、'fixed'と'table'の二つの書き出し形式がサポートされている
# 通常'table'のほうが低速だが、特殊な文法を用いたクエリ操作をサポートしている便利な点もある
store.put('obj2',frame,format='table')  #store.put('obj2')はstore['obj2']=frameと同じことを明示的に行うメソッド
store.select('obj2',where=['index >= 10 and index <= 15'])

           a
10 -0.601109
11  0.083025
12 -1.140711
13 -1.292007
14  0.411215
15  0.951197

In [140]:
store.close()

In [141]:
frame.to_hdf('mydata.h5','obj3',format='table')
pd.read_hdf('mydata.h5','obj3',where=['index<5'])

          a
0 -1.741574
1 -1.620421
2 -0.217090
3 -0.942871
4 -0.430518

* HDFはデータベースではない
* 書き込みが一度だけで、読み込みが多いデータセットに最適なファイル形式
* いつでもデータをファイルに追加できるが、複数の書き込みを同時にするとファイルが破損する恐れがある

### 6.2.2 Microsoft Excelファイルの読み込み

In [142]:
xlsx=pd.ExcelFile('pydata-book/examples/ex1.xlsx')  #ExcelFileを使うには、xlsファイルやxlsxファイルのパスを引数として渡してインスタンスを作る

In [143]:
pd.read_excel(xlsx,'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

* ファイル内の複数のシートを読もうとしているのであれば、最初にExcelFileインスタンスを作成するほうが高速
* 一つのシートだけであれば、pandas.read_excelにファイル名とシート名を与えるだけでも読み込める

In [144]:
frame=pd.read_excel('pydata-book/examples/ex1.xlsx','Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

* pandasのデータをExcel形式で書き出すには、まずExcelWriterを作成した上で、pandasオブジェクトのto_excelメソッドを用いてデータを書き込む

In [146]:
writer=pd.ExcelWriter('outputs/ex2.xlsx')
frame.to_excel(writer,'Sheet1')
writer.save()

In [148]:
#ExcelWriterを使わずに、to_excelにファイルパスを与えても書き出せる
frame.to_excel('outputs/ex2.xlsx')

## 6.3 Web APIを用いたデータの取得

In [150]:
import requests

url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
resp

In [151]:
#Responseオブジェクトのjsonメソッドからは、JSONから読み込まれたネイティブのPythonオブジェクトを含むディクショナリが返される
data=resp.json()
data[0]['title']

'BUG: pandas.DataFrame.compare causes loss of accuracy for big ints'

* data内の各要素は、Github上のIssuesのページに含まれている（コメント以外の）すべてのデータを含んだディクショナリ
* dataを直接データフレームのコンストラクタに渡して、取り出したいフィールドを指定すれば、データフレームが得られる

In [152]:
issues=pd.DataFrame(data,columns=['number','title','labels','state'])
issues

,number,title,labels,state
0,39899,BUG: pandas.DataFrame.compare causes loss of a...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,39898,BUG: dtype ignored in pd.read_excel,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,39897,TYP: indexes/base.py,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
3,39896,BUG: Ignore_index on concat does not ignore in...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,39895,BUG: groupby dropna=False doesn't work for mul...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
...,...,...,...,...
25,39856,CLN: assorted cleanups,[],open
26,39853,BUG: array ufuncs with more than 2 inputs fail...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,39850,"BUG: float formatters ignore ""object"" extensio...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,39849,solved raise an error on redundant definition ...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
29,39845,DOC: Reindexing behaviour of dataframe column-...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open

## 6.4 データベースからのデータの取得
* pandasにはSQLからデータを読み込んでデータフレームに入れる処理を簡単にしてくれる関数がいくつかある

In [155]:
#SQLiteデータベースを作成
import sqlite3

query="""
CREATE TABLE test
(a VARCHAR(20),b VARCHAR(20),
 c REAL,       d INTEGER
);"""

con=sqlite3.connect('mydata.sqlite')
con.execute(query)

OperationalError: table test already exists

In [156]:
con.commit()

In [157]:
#数行のデータを挿入する
data=[('Atlanta','Georgia',1.25,6),
      ('Tallahassee','Florida',2.6,3),
      ('Sacramento','California',1.7,5)]

stmt="INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)

In [159]:
con.commit()

In [160]:
#PythonのSQLドライバの大半（PyODBC,psycpg2,MySQLdb,pymssqlなど）は、テーブルのデータを選択したときにタプルのリストを返す
cursor=con.execute('select * from test')
rows=cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [161]:
cursor.description  #列名はカーソルのdescription属性に含まれている

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [162]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

* 上記の処理はかなり面倒だが、SQLAlchemyプロジェクトはSQLデータベース間によくある差異の多くを抽象化して取り除いてくれる、人気のあるPython用のSQLツールキットを提供している  
（http://www.sqlalchemy.org/）
* pandasには、SQLAlchemyの汎用的なデータベース接続を通じて簡単にデータを読み出せる、read_sqlという関数がある

In [165]:
import sqlalchemy as sqla

db=sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test',db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5